.camera-container {
  width: 100%;
  text-align: center;
}

.camera-content {
  width: 100%;
  position: relative;
}

.open-camera {
  width: 640px;
  height: 480px;
  width: 80%;
  border-radius: 10px;
  filter: contrast(140%);
}

.image-collect-container {
  text-align: left;
  margin: auto;
  height: 100px;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  white-space: nowrap;
  overflow-y: hidden;
}

.image-collect-thumbnail-container {
  position: relative;
  height: 80px;
  margin: 5px 5px;
  display: inline-block;
  overflow: hidden;
}

.image-collect-thumbnail {
  border-radius: 10px;
  height: 100%;
}

.image-delete {
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  background-color: red;
  border: 2px solid red;
  border-radius: 50%;
}

.image-delete:hover {
  opacity: 0.8;
  cursor: pointer;
}

.camera-snap-btn,
.camera-publish-btn,
.camera-cancel-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.75;
  position: absolute;
  bottom: 7.5%;
  left: 50%;
}

.filter-container {
  list-style: none;
  position: absolute;
  top: 1%;
  right: 10%;
}

.filter-sepia,
.filter-grayscale,
.filter-brightness,
.filter-contrast {
  opacity: 0.75;
  width: 75%;
  border-radius: 50%;
  background-color: grey;
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-grayscale {
  filter: grayscale(100%);
}
.filter-brightness {
  filter: brightness(0.35);
}
.filter-contrast {
  filter: contrast(140%);
}